// MEDIA QUERY

$mobile: 480px;
$pad: 650px;
$desktop: 1000px;

// SITW WIDTH

$content-width: 1020px;

// Fonts:

$font: "Roboto", "Arial", sans-serif;

// Palette

$blue-light: #009dbb;
$white: #ffffff;
$black: #1c1c1c;
$grey-dark: #2c2c2c;
$grey-light: #808080;
$grey-lightest: #f3f3f3;
$red: #ff2233;